{% load static %}

<html lang="es">


<head>
    
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>ONG Life & Sustainability</title>
    
    <link rel="stylesheet" href="{% static 'estilo.css' %}">

</head>



<body>
   
    <header>
   
        <h1>Bienvenido a Life & Sustainability Today</h1>
   
        <nav>
   
            <ul>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'registro' %}">Registrarse</a></li>
                <li><a href="{% url 'formulario retiro' %}">Solicitar Retiro de Residuos</a></li>
   
            </ul>
   
        </nav>
   
    </header>
    
    <section class="hero">
        
        <div class="texto">
            <h2>Protege el Medio Ambiente</h2>
            <p>Solicita el retiro de tus residuos urbanos y contribuye a un futuro sostenible.</p>
       
            <a href="{% url 'formulario retiro' %}" class="cta-button">Solicitar Retiro</a>
            <a href="{% url 'retiros pendientes' %}" class="cta-button secondary-button">Ver Retiros Pendientes</a>
        </div>
        
    
    </section>
    
    <footer>
   
        <p>&copy; 2024 ONG Life & Sustainability Today. Todos los derechos reservados.</p>
   
    </footer>

</body>

</html>